# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
*.tfvars
*.tfplan

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/